.quizBox{
  width: 50vw;
  height: 82vh;
  border: 2px solid grey;
  padding: 1em;
}

.quiz_top_content h1{
  margin: 0;
  margin-bottom: .5rem;
}

.quiz_top_content{
  border-bottom: 1px solid black;
}

.question h1{
  color: black;
  font-weight: bold;
}

.singleQuiz{
  width: 95%;
  outline: 1px solid grey;
  padding: .8em;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1.4rem;
}

.quiz_options{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.quiz_options > div:first-child{
  font-size: 1.5rem;
  font-weight: 400;
  font-weight: 500;
  margin-left: .5rem;
}

.quiz_options > div:not(:first-child) button{
  background: #03a9f4;
  text-transform: uppercase;
  font-size: 1.3em;
}

.green{
  background-color:lightgreen;
}

.red{
  background-color:tomato;
}

.pointer_events{
  pointer-events: none;
}