
.quizBox{
  /* border: 2px solid grey; */
  padding: 1em;
}

.container{
  background-color: #03a8f45e;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz_top_content h1{
  margin: 0;
  margin-bottom: .5rem;
}

.quiz_top_content{
  border-bottom: 1px solid black;
}

.question h1{
  color: black;
  font-weight: bold;
}

.singleQuiz{
  width: 95%;
  outline: 1px solid grey;
  padding: .8em;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1.4rem;
  user-select: none;
}

.quiz_options{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.quiz_options > div:first-child{
  font-size: 1.5rem;
  font-weight: 400;
  font-weight: 500;
  margin-left: .5rem;
}

.quiz_options > div:not(:first-child) button{
  background: #03a9f4;
  text-transform: uppercase;
  font-size: 1.3em;
}

.green{
  background-color:lightgreen;
}

.red{
  background-color:tomato;
}

.pointer_events{
  pointer-events: none;
}

.start_btn{
  padding: 1em;
  font-size: 2.6em;
  box-shadow: 2px 2px 20px 2px grey;
}


.modal{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 50vw;
  height: 85vh;
  background: white;
  box-shadow: 2px 2px 20px 2px grey;
}

.resultModal{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:100%;
  height:100%;
}

.resultModal h2{
  font-size:2.5rem;
}

.resultModal h1{
  font-size:3rem;
}
.resultModal button{
  padding-inline:2em;
  background-color:#03a8f45e;
  font-size:2em;
}
