.quix_box_container {
  width: 50vw;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
}

.quix_box_top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2em;
  padding-block: 1em;
  border-bottom: 2px solid grey;
}

.quix_box_top_content div:not(:first-child) div {
  height: 80%;
  display: inline-block;
  background-color: #cde5ff;
  padding-inline: 1em;
  padding-block: 1em;
  color: blue;
}

.quix_box_top_content div:not(:first-child) div span {
  background-color: black;
  color: white;
  padding: 0.3em;
  margin-left: 0.5rem;
  border-radius: 10px;
}

h1,
h2 {
  margin: 0;
}

.question_container {
  margin: 1.2rem;
}

.single_quiz {
  width: 90%;

  display: flex;
  margin-inline: auto;
  padding: 0.7em;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid grey;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

main {
  margin-bottom: 2rem;
}

.single_quiz.green {
  background-color: #40e14063;
}
.single_quiz.red {
  background-color: #fad7dd;
}

.single_quiz div:first-child {
  font-size: 1.5em;
}

.icon_contianer {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 0.8rem;
}

.container {
  background-color: #03a8f45e;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_contianer.showTickIcon {
  border: 3px solid green;
}
.icon_contianer.showCrossIcon {
  border: 3px solid red;
}

.showTickIcon {
  display: flex;
  color: green;
}
.showCrossIcon {
  display: flex;
  color: red;
}

.hidden {
  display: none;
}

.quiz_bottom_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid grey;
  padding-inline: 1.5em;
  padding-block: 0.8em;
}

.quiz_bottom_content div:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.quiz_bottom_content div:not(:first-child) button {
  background-color: #007afd;
  color: white;
  font-size: 1.3em;
}

.green {
  background-color: #90ee90b0;
}

.red {
  background-color: #ff634773;
}

.pointer_events {
  pointer-events: none;
}

.start_btn {
  padding: 1em;
  font-size: 2.6em;
  box-shadow: 2px 2px 20px 2px grey;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 90vh;
  background: white;
  box-shadow: 2px 2px 20px 2px grey;
  z-index: 999999999;
}

.resultModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 70%;
  background-color: white;
}

.resultModal h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.settings_button_container{
  position: fixed;
  top:10px;
  right: 25px;
}

.settings_button_container button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.settings_button_container button span{
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.resultModal h1 {
  font-size: 3rem;
}
.resultModal button {
  padding-inline: 2em;
  background-color: #03a8f45e;
  font-size: 2em;
  margin-top: 1rem;
}

.settings_container{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.settings_container h1{
  font-size: 3rem;
  text-align: center;
}

.settings_container select{
  padding: .5em;
  font-size: 2em;
  margin-left: 1rem;
  border-radius: 10px;
  padding-block: 0.2em;
  padding-inline: 0.5em;
}

.time_manage_container{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: .5em;
}
p{
  margin: 0;
}

.top_content_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time_manage_container p{
  font-weight: bold;
  font-size: 2rem;
}

.single_question{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hsla(240, 100%, 50%, 0.231);
  width: 95%;
  margin-inline: auto;
  height: 40%;
  padding: .5em;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 1rem;
  position: relative;
}

.single_question:hover{
  background-color: hsla(240, 100%, 60%, 0.231);
}

.single_question h2{
  width: 5%;
  aspect-ratio: 1;
  background: #0087ff;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.single_question div{
  font-size: 1.5rem;
  margin-inline: 1rem;
}

.single_question button{
  width: 5%;
  aspect-ratio: 1;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  position: absolute;
  right: 10px;
}

.edit_btn{
  right: 90px !important;
  background-color: green !important;
}

.setting_questions{
  margin-top: 1.5rem;
}


.top_content_container button{
  background-color: #0087ff;
  color: white;
  font-size: 1.2rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

.add_modal_container{
  padding: 1em;
  z-index: 9999999999999;
}

.add_modal_container h1{
  text-align: center;
}
.add_modal_container h2{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.add_modal_container .question_input{
  width: 93%;
  margin-block: 1rem;
  padding: .5em;
  font-size: 1.5rem;
}

.add_modal_container button{
  width: 98%;
  background-color: #0087ff;
  color: white;
  padding: .5em;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.single_option_input{
  width: 100%;
  height: 20%;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.single_option_input input[type="text"]{
  width: 85%;
  padding: .5em;
  font-size: 1.5rem;
  border-radius:10px ;
  border: 1px solid grey;
}

.single_option_input input[type="radio"]{
  appearance: none;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 1px solid black;
  outline-offset: 3px;
  margin-right: 1rem;
  cursor: pointer;
}

.overlay{
  position: fixed;
  inset:0;
  background-color: rgb(0, 0, 0,.5);
  z-index: 999999999;
}

.cross{
  color: black;
  position: absolute;
  font-size: 2rem;
  right: 20px;
  top: 0;
  font-weight: bold;
  cursor: pointer;
}

.single_option_input input[type="radio"]:checked{
  background-color: black;
}

.single_option_input input[type="radio"]{
  background-color: white;
}

